
<div class="card">

    <!-- <h5>CO2 Reduction</h5> -->
    <div class="p-fluid grid mt-1">

        <div class="col-12 md:col-2 py-1">
            <div class="field mb-0">
                <span class="p-float-label">
                    <p-dropdown appendTo="body" (onChange)="onFacilitySelection($event)" inputId="dropdown" class="p-inputtext-sm" [autoDisplayFirst]="false" [options]="org"
                        [(ngModel)]="selectedOrganization" ></p-dropdown>
                    <label for="dropdown">Facility</label>
                </span>
            </div>
        </div>
        <div class="col-12 md:col-2 py-1">
            <div class="field mb-0">
                <span class="p-float-label">
                    <p-dropdown appendTo="body" inputId="dropdown" class="p-inputtext-sm" [autoDisplayFirst]="false" [options]="periods"
                        [(ngModel)]="selectedPeriod"(onChange)="onPeriodChange($event)" ></p-dropdown>
                    <label for="dropdown">Period</label>
                </span>
            </div>
        </div>
        
    </div>
</div>
    <hr>

    <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions"
          [xaxis]="chartOptions.xaxis"
          [colors]="chartOptions.color">
        ></apx-chart>
      </div>
      <div class="flex justify-content-center">

        <h6>(tCo2)</h6>

    </div>


<p-dialog position="top" [header]="innerModalHeader + ' | Actual/Target Emissions  '" [(visible)]="showModal" [modal]="true" [style]="{width: '90vw',height:'90vh'}"
[draggable]="false" [resizable]="false">

<div class="grid">
    <div class="col-12">
        <div style="display: flex;justify-content:space-between " class="mt-4">
            <div class="field mb-0">
                <span class="p-float-label ">
                    <p-dropdown appendTo="body" inputId="dropdown" [style]="{width: '200px'}" class="p-inputtext-sm " [autoDisplayFirst]="false" [options]="periods"
                        [(ngModel)]="selectedPeriod"(onChange)="onPeriodChange($event)"></p-dropdown>
                    <label for="dropdown">Period</label>
                </span>
            </div>

            <h5>Facility: {{selectedOrganization}}</h5>
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12 md:col-4">
        <h4>Scope 1</h4>
    </div>
    <div class="col-12 md:col-4">
        <h4>Scope 2</h4>
    </div>
    <div class="col-12 md:col-4">
        <div style="display: flex;justify-content:space-between">
        <h4>Scope 3</h4>

        

    </div>

    </div>
</div>


<div class="grid">
    <div class="col-12 md:col-4">
        <div class="card ">
            <div class="header-left-section flex align-items-center justify-content-start mb-3 md:mb-0">
                <div class="ml-3 mb-2 md:mb-0">
                <span class="text-3xl line-height-3 font-light">Actual</span>
                <br>
                <span class="text-3xl font-normal">{{card1Counter}} </span>
                <span class="subtext"><strong style="color: green;">+9%</strong> than last week</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="card ">
            <div class="header-left-section flex align-items-center justify-content-start mb-3 md:mb-0">
                <div class="ml-3 mb-2 md:mb-0">
                    <span class="text-3xl line-height-3 font-light">Actual</span>
                    <br>
                    <span class="text-3xl font-normal">{{card2Counter}} </span>
                    <span class="subtext"><strong style="color: green;">+9%</strong> than last week</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="card ">
            <div class="header-left-section flex align-items-center justify-content-start mb-3 md:mb-0">
                <div class="ml-3 mb-2 md:mb-0">
                    <span class="text-3xl line-height-3 font-light">Actual</span>
                    <br>
                    <span class="text-3xl font-normal">{{card3Counter}} </span>
                    <span class="subtext"><strong style="color: red;">-18%</strong> than last week</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="card ">
            <div class="header-left-section flex align-items-center justify-content-start mb-3 md:mb-0">
                <div class="ml-3 mb-2 md:mb-0">
                    <span class="text-3xl line-height-3 font-light">Target</span>
                    <br>
                    <span class="text-3xl font-normal">{{target1}} </span>
                    <span class="subtext"><strong style="color: green;">+9%</strong> than last week</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="card ">
            <div class="header-left-section flex align-items-center justify-content-start mb-3 md:mb-0">
                <div class="ml-3 mb-2 md:mb-0">
                    <span class="text-3xl line-height-3 font-light">Target</span>
                    <br>
                    <span class="text-3xl font-normal">{{target2}} </span>
                    <span class="subtext"><strong style="color: green;">+9%</strong> than last week</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="card ">
            <div class="header-left-section flex align-items-center justify-content-start mb-3 md:mb-0">
                <div class="ml-3 mb-2 md:mb-0">
                    <span class="text-3xl line-height-3 font-light">Target</span>
                    <br>
                    <span class="text-3xl font-normal">{{target3}} </span>
                    <span class="subtext"><strong style="color: green;">+9%</strong> than last week</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-7 py-1">
        <div class="card">
            <!-- <h4>Reduction Initiative</h4> -->
            <div class="field mb-0">
                <div class="mt-2">
                    <div class="">
                        <h6>tCo2</h6>
                    </div>
                    <p-chart type="bar" [data]="scope1"></p-chart>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 50bvh;" class="col-12 md:col-5">
        <div class="card">
            <div class="field mb-0 p-2">
                <p-chart type="doughnut" [data]="data" [options]="chartOptions" width="400px" height="350px"></p-chart>
                <!-- <p-chart type="doughnut" [data]="data" [options]="chartOptions" [style]="{'width': '100%'}"></p-chart> -->
            </div>
            
        </div>
    </div>
</div>



    <!-- <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template> -->
</p-dialog>