
<div class="my_scroll_div innerScroll">
    <div class="card">

        <!-- <h5>CO2 Reduction</h5> -->
        <div class="p-fluid grid mt-4">
    
            <div class="col-12 md:col-2 py-1">
                <div class="field mb-0">
                    <span class="p-float-label">
                        <p-dropdown (onChange)="onFacilitySelection($event)" appendTo="body" inputId="dropdown" class="p-inputtext-sm" [autoDisplayFirst]="false" [options]="org"
                            [(ngModel)]="selectedOrganization" ></p-dropdown>
                        <label for="dropdown">Facility</label>
                    </span>
                </div>
            </div>
            <div class="col-12 md:col-2 py-1">
                <div class="field mb-0">
                    <span class="p-float-label">
                        <p-dropdown appendTo="body" (onChange)="onPeriodChange($event)" inputId="dropdown" class="p-inputtext-sm" [autoDisplayFirst]="false" [options]="periods"
                            [(ngModel)]="selectedPeriod"></p-dropdown>
                        <label for="dropdown">Period</label>
                    </span>
                </div>
            </div>
            
            <!-- <div class="col-12 md:col-2 py-1">
                <div class="field mb-0">
                    <span class="p-float-label">
                        <p-dropdown appendTo="body" inputId="dropdown" class="p-inputtext-sm" [autoDisplayFirst]="false" [options]="categories"
                            [(ngModel)]="selectedCategory"></p-dropdown>
                        <label for="dropdown">Category</label>
                    </span>
                </div>
            </div> -->
        </div>

        <hr>

        <div class="grid">
            <div class="col-12 md:col-3">
                <div class="card ">
                    <div class="header-left-section flex align-items-center justify-content-start mb-3 md:mb-0">
                        <div class="ml-3 mb-2 md:mb-0">
                        <span class="text-3xl line-height-3 font-light">Scope 1</span>
                        <br>
                        <span class="text-3xl font-normal">{{card1Counter}} </span> <sup>(tCO2) </sup>
                        <span class="subtext"><strong style="color: green;">&nbsp;&nbsp; +9%</strong> than last week</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-3">
                <div class="card ">
                    <div class="header-left-section flex align-items-center justify-content-start mb-3 md:mb-0">
                        <div class="ml-3 mb-2 md:mb-0">
                            <span class="text-3xl line-height-3 font-light">Scope 2</span>
                            <br>
                            <span class="text-3xl font-normal">{{card2Counter}} </span> <sup>(tCO2) </sup>
                            <span class="subtext"><strong style="color: green;">&nbsp;&nbsp; +9%</strong> than last week</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-3">
                <div class="card ">
                    <div class="header-left-section flex align-items-center justify-content-start mb-3 md:mb-0">
                        <div class="ml-3 mb-2 md:mb-0">
                            <span class="text-3xl line-height-3 font-light">Scope 3  </span><span class="subtext"><i>(Upstream)</i></span>
                            <br>
                            <span class="text-3xl font-normal">{{card3Counter}} </span> <sup>(tCO2) </sup>
                            <span class="subtext"><strong style="color: green;">&nbsp;&nbsp; +9%</strong> than last week</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-3">
                <div class="card ">
                    <div class="header-left-section flex align-items-center justify-content-start mb-3 md:mb-0">
                        <div class="ml-3 mb-2 md:mb-0">
                            <span class="text-3xl line-height-3 font-light">Scope 3  </span><span class="subtext"><i>(Downstream)</i></span>
                            <br>
                            <span class="text-3xl font-normal">{{card4Counter}} </span> <sup>(tCO2) </sup>
                            <span class="subtext"><strong style="color: red;">&nbsp;&nbsp; -15%</strong> than last week</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
    
 
    
    
    
    
    <hr>
    
    <div class="p-fluid grid ">
    
        <div class="col-12 md:col-8 py-1">
            <div class="card">
                <!-- <div class="flex flex-wrap align-items-start justify-content-around"> -->
                <!-- <div>
                    <h4>Scope 1</h4>-
                </div>
                <div>
                    <h6>Direct Emission</h6>
                </div> -->
                <div class="header-left-section flex align-items-center justify-content-start mb-3 md:mb-0">
                    <div class="ml-3 mb-2 md:mb-0">
                    <span class="text-2xl line-height-3 font-normal block">Scope 1 - <span
                        class="text-2xl font-light ">Direct Emissions</span> </span>
                        
                    </div>
                    </div>
                <hr>
                <div class="field mb-0 mt-4 mb-8">
                    <div class="mt-5">
                        <!-- <div class="-mb-3">
                            <h6>tCo2</h6>
                        </div>
                        <p-chart type="bar" [data]="scope1" [options]="scope1Options"></p-chart> -->
                        <div id="chart">
                            <apx-chart
                              [series]="chartOptions.series"
                              [chart]="chartOptions.chart"
                              [dataLabels]="chartOptions.dataLabels"
                              [plotOptions]="chartOptions.plotOptions"
                              [yaxis]="chartOptions.yaxis"
                              [legend]="chartOptions.legend"
                              [fill]="chartOptions.fill"
                              [stroke]="chartOptions.stroke"
                              [tooltip]="chartOptions.tooltip"
                              [xaxis]="chartOptions.xaxis"   
                            ></apx-chart>
                          </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 md:col-4 py-1">
            <div class="card">

                <div class="header-left-section flex align-items-center justify-content-start mb-3 md:mb-0">
                    <div class="ml-3 mb-2 md:mb-0">
                        <span class="text-2xl line-height-3 font-normal block">Top Emissions by type
                            <!-- <span class="text-2xl font-light ">Direct Emissions</span> -->
                         </span>

                    </div>
                </div>
                <hr>
                <div class="field mb-0 mt-4 mb-5 ">
                    <div class="mt-8 mb-8" sty>
                       <br>
                       <br>
                       <br>
                       <br>
                        <div id="chart1">
                            <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart"
                                [labels]="chartOptions1.labels" [responsive]="chartOptions1.responsive "  [colors]="chartOptions1.color" ></apx-chart>
                     
                    </div>
                
                    </div>
                </div>
            </div>
        </div>
    
    
    </div>
    
</div>
</div>
    
<p-dialog [header]="'Scope 1 ('+selectedYear+')'" [(visible)]="showScope1" [modal]="true" [style]="{width: '50vw'}"
[draggable]="false" [resizable]="false">

<div class="mt-5">
    <div class="-mb-3">
        <h6>tCo2</h6>
    </div>

    <p-chart type="bar" [data]="scope1" [options]="scope1Options"></p-chart>
</div>


    <!-- <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template> -->
</p-dialog>

<p-dialog [header]="'Scope 2 ('+selectedYear+')'" [(visible)]="showScope2" [modal]="true" [style]="{width: '50vw'}"
[draggable]="false" [resizable]="false">

<div class="mt-5">
    <div class="-mb-3">
        <h6>tCo2</h6>
    </div>

    <p-chart type="bar" [data]="scope2" [options]="scope2Options"></p-chart>
</div>


    <!-- <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template> -->
</p-dialog>

<p-dialog [header]="'Scope 3 ('+selectedYear+')'" [(visible)]="showScope3" [modal]="true" [style]="{width: '80vw'}"
[draggable]="false" [resizable]="false">

<div class="mt-5">
    <div class="-mb-3">
        <h6>tCo2</h6>
    </div>

    <p-chart type="bar" [data]="scope3" [options]="scope3Options"></p-chart>
</div>


    <!-- <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template> -->
</p-dialog>
    
    
    
    <!-- <div class="grid">
            <div class="col-12">
                <div class="card">
    
                    <p-chart type="bar" [data]="marketingData" [options]="marketingDataOptions"></p-chart>
                </div>
    
            </div>
        </div> -->
    <!-- </div> -->