.innerScroll::-webkit-scrollbar {
    width: 6px;
  }
  
  .innerScroll::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 10px;
  }
  
  .innerScroll::-webkit-scrollbar-thumb {
    background-color: #A0B588;
    // background-color: red;
    border-radius: 100px;
  }
  @media only screen and (min-height: 600px) and (max-height: 700px) {
    // Laptop
      .my_scroll_div {
        overflow: scroll;
        max-height: 80vh;
        max-width: 100%;
        overflow-x: hidden;
        // background-color: #4C63B6;
      }
    }
    
    // For LCD
    @media only screen and  (min-height: 700px) and (max-height: 800px) {
    
      .my_scroll_div {
        overflow: scroll;
        max-height: 90vh;
        max-width: 100%;
        overflow-x: hidden;
        // background-color: red;
      }
    }
    
    @media only screen and (min-height: 800px) and (max-height: 900px) {
    
      .my_scroll_div {
        overflow: scroll;
        max-height: 48vh;
        max-width: 100%;
        overflow-x: hidden;
      
      }
    }
    @media  only screen and  (min-height: 900px) and (max-height: 1100px) {
    
      .my_scroll_div {
        overflow: scroll;
        max-height: 90vh;
        max-width: 100%;
        overflow-x: hidden;
        // background-color: red;
      }
    }

    :host {
      ::ng-deep .ui-panelmenu
      {
          width: 250px;
          border: 0px;
      }
      ::ng-deep  .card {
          background: #ffffff;
          padding: 1.5rem 1rem;
          margin-bottom: 16px;
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1), 0px 24px 36px rgba(0, 0, 0, 0.04);
          border-radius: 14px;
        }
  }