
<div class="my_scroll_div innerScroll">
<div class="card">

  
    <div class="p-fluid grid mt-1">

        <div class="col-12 md:col-2 py-1">
            <div class="field mb-0">
                <span class="p-float-label">
                    <p-dropdown
                        appendTo="body"
                        inputId="dropdown"
                        [autoDisplayFirst]="false"
                        [options]="recievedDates"
                        [(ngModel)]="selectedRecievedDate"
                        (onChange)="onDateRangeSelect($event)"
                    ></p-dropdown>
                    <label for="dropdown">Date Range</label>
                </span>
            </div>
        </div>

        <div class="col-12 md:col-3 py-1">
            <div class="field mb-0">
                <span class="p-float-label">
                    <p-calendar inputId="calendar" [showIcon]="true" [(ngModel)]="fromDate"></p-calendar>
                    <label for="calendar">From</label>
                </span>
            </div>
            
        </div>
    
        <div class="col-12 md:col-3 py-1">
        <div class="field mb-0">
            <span class="p-float-label">
                <p-calendar inputId="calendar" [showIcon]="true" [(ngModel)]="toDate"></p-calendar>
                <label for="calendar">To</label>
            </span>
        </div>
        </div>

        <div class="col-12 md:col-2 md:col-offset-2 py-1">
            <div class="field mb-0">
                <button pButton pRipple type="button" (click)="applyFilter()" label="Get Report" class="p-button-raised p-button-success"></button>
                
            </div>
        </div>

        
    
    </div>
    

</div>


<div class="grid">
    <div class="col-12">
        <div class="card">
            
            <p-chart type="bar" [data]="marketingData" [options]="marketingDataOptions"></p-chart>
        </div>
        
    </div>
</div>
</div>